.chat-box
  .chat{"data-id": "#{message.id}"}
    %p.chat__user
      = message.user.name
    %p.chat__date
    - if message.content.present?
      %p.chat__content
        =message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
