.contents
  = render partial: "messages/content-left"

  .content-right
    .group
      %p.group__name nil
      %p.group__member Members:
      %p.group__btn Edit
    .chat-pad
      .chat-content
        = render partial: "messages/message", collection: @messages


    / .bottom-content
    /   .submit
    /     %form
    /       %input.text{:type => "text", :placeholder => "type a message", :class => "submit__content"}
    /         .image
    /           %label.upload-label{for: "upload-icon"}
    /           %i.far.fa-image
    /             / = file_field :image, id: "upload-icon" ,:class => "ignore"
    /       %input.send{:type => "submit", :value => "Send" , :class => "submit__btn"}
