.content-left{
  width: 300px;
  height: 100vh;
  float: left;
  position: fixed;
}

.header-left{
  height: 60px;
  background-color: #253141;
  font-size: 16px;
  color: white;
  padding-top: 36px;
  padding-left: 20px;
  padding-right: 20px;
      .header__name {
        float: left;
        width: 200px;
        /*padding-right: 150px;*/
      }
      .list {
        float: left;
        width: 30px;
        height: 30px;
      }
      i {
        /*padding-right: 20px;*/
        float: left;
        width: 30px;
      }
}

.icon {
  color: white;
}
.groups{
  color: white;
  background-color: #2f3e51;
  height: 100vh;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 15px;
          &__name {
            color: white;
          }
          &__messages {
            padding-top: 5px;
            font-size:11px;
            padding-bottom: 40px;
            color: white;
          }
}
